.searchfor {
  margin: 0 auto;
  width: 70%;
}
#search-for {
  font-weight: bold;
}

#no-result {
  margin: 0 auto;
  width: 70%;
  padding: 5% 0 5% 0;
}

#cards-box {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-content: space-evenly;
  padding: 16px;
  min-height: 650px;
}

.card {
  border: none;
  border-radius: 10px;
  width: 300px;
  max-width: 300px;
  margin: 50px;
}

.card > img {
  transform: scale(1);
  transition-duration: 0.5s;
}

.card > img:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
  overflow: hidden;
}

.favorite-box {
  display: flex;
  justify-content: center;
}

.favorite,
.favorite:focus {
  background-color: var(--grey);
  color: var(--yellow);
  font-weight: bold;
}

.off-canvas {
  background-color: var(--white);
  z-index: 800;
}

.dark-mode .off-canvas {
  background-color: var(--dark-black);
}

.tabs,
.tabs-content {
  border: none;
}

.tabs-title a,
#back-page-button p,
#next-page-button p {
  color: var(--white);
  font-size: 20px;
  font-weight: bold;
  width: 60px;
  height: 65px;
  margin: 10px;
}

#back-page-button p,
#next-page-button p {
  padding-top: 15px;
  padding-left: 20px;
}

.tabs-title > a:focus,
.tabs-title > a:hover,
#back-page-button p:hover,
#next-page-button p:hover {
  background-color: var(--yellow);
  color: var(--white);
  font-size: 20px;
  font-weight: bold;
}

.tabs-title > a[aria-selected="true"] {
  color: var(--yellow);
  background-color: var(--black);
  font-size: 20px;
  font-weight: bold;
}

.tabs-title > a:focus,
.tabs-title > a:hover,
.tabs-title > a[aria-selected="true"] {
  background-color: var(--black);
  color: var(--yellow);
  border-bottom: thick solid var(--yellow);
  font-weight: bold;
}

.tabs-content {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.button.expanded {
  width: 1000px;
  max-width: 1000px;
  margin-top: 40px;
  margin-bottom: 40px;
}

div.cell h5 {
  margin-top: 8px;
  font-weight: bold;
}

p.h3 {
  margin-bottom: 0px;
  color: var(--white);
  font-weight: bold;
}

p.h3 i + i {
  margin-bottom: 0px;
  color: var(--black);
  transform: translateX(-22.15px);
}

p.h3 i:hover {
  margin-bottom: 0px;
  color: var(--black);
}

#webtoon-thumbnail {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#webtoon-thumbnail > img {
  transform: scale(1);
  transition-duration: 0.5s;
}

#webtoon-thumbnail > img:hover {
  transform: scale(1.05);
  transition-duration: 0.5s;
  overflow: hidden;
}

#tag-text {
  display: flex;
  flex-wrap: wrap;
}

#tag-text button {
  margin-right: 20px;
}

#pagination {
  display: flex;
  justify-content: center;
}

#back-button {
  margin-top: 20px;
  margin-left: 20px;
  padding: auto;
}

#pagination li.disabled {
  cursor: not-allowed;
}

#pagination p.disabled {
  pointer-events: none;
}
#pagination .disabled:hover {
  background: transparent;
  border-bottom: none;
}

#page-tabs {
  display: flex;
  justify-content: space-evenly;
}
